@{
    ViewBag.Title = "Reward Pontok";
    Layout = "~/Default.cshtml";
}

<h2>Reward Pontok</h2>

<table>
    <thead>
        <tr>
            <th>Pont ID</th>
            <th>Felhasználó</th>
            <th>Pontszám</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pont in ViewBag.RewardPontok)
        {
            <tr>
                <td>@pont.PontId</td>
                <td>@pont.Felhasznalo</td>
                <td>
                    @pont.Pontsz
            </td>
        </tr>
    }
    </tbody>
</table>